.body {
  border-style: solid;
  border-width: 1px;
  height: 549px;
  width: 345px;
  padding: 25px;
  border-color: #f5f2f2;
}
.container {
  border-top: 1px solid #ccc;
  margin-top: 12px;
}
.box {
  font-size: 23px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-around;
}
.box p {
  font-size: 15px;
  margin-right: 120px;
}
.shop {
  border-style: solid;
  border-color: #ff3f6c;
  font-size: 15px;
  width: 65px;
  height: 27px;
  border-width: 1px;
  color: #ff3f6c;
  background-color: white;
  cursor: pointer;
  border-radius: 2px;
}
.shop:hover {
  background-color: #ff3f6c1f;
}
.shop p {
  font-size: 13px;
}
button p .click-button p {
  color: #4b4a64;
}
.click-button a {
  color: #ff3f6c;
  text-decoration: none;
}
.mark p {
  color: #4b4a64;
  font-size: 14px;
  margin-top: 30px;
}
.center {
  margin-top: 20px;
  font-size: 15px;
}
.radius {
  margin-top: 50px;
}
.checkbox p {
  margin-left: 40px;
}
.red {
  text-align: center;
  height: 36px;
  width: 60px;
  border-radius: 28px;
  border-width: 1px;
  cursor: pointer;
}
.keep {
  text-align: center;
  margin-left: 12px;
  height: 36px;
  width: 60px;
  border-radius: 28px;
  border-width: 1px;
  cursor: pointer;
}
.pink {
  text-align: center;
  margin-left: 12px;
  height: 36px;
  width: 60px;
  border-radius: 28px;
  border-width: 1px;
  cursor: pointer;
}
.center a {
  color: #ff3f6c;
  text-decoration: none;
}
.button {
  background-color: #ff3f6c;
  text-align: center;
  color: white;
  font-size: 17px;
  width: 92%;
  border-radius: 2px;
  height: 40px;
  border: none;
  margin-top: 12px;
  cursor: pointer;
}
.button:hover {
  background-color: #ff3f6cf1;
}
.coupon a {
  color: #ff3f6c;
  font-size: 14px;
  text-decoration: none;
  margin-top: 12px;
}
.fee a {
  color: #ff3f6c;
  text-decoration: none;
}
.item p {
  font-size: 14px;
  color: #4b4a64;
  margin-top: 50px;
}
.total p {
  color: #4b4a64;
  font-size: 15px;
  margin-top: 12px;
}
.discount p {
  color: #4b4a64;
  font-size: 15px;
  margin-top: 12px;
}
.coupon p {
  color: #4b4a64;
  font-size: 15px;
  margin-top: 12px;
}
.fee p {
  color: #4b4a64;
  font-size: 15px;
  margin-top: 12px;
}
.kumar p {
  color: #4b4a64;
  font-size: 15px;
  margin-top: 12px;
}
.kumar {
  display: flex;
  justify-content: space-between;
}
.buttopn p {
  color: #4b4a64;
  font-size: 15px;
}
.checkbox {
  height: 18px;
  font-size: 15px;
  width: 25px;
  margin-top: 15px;
  cursor: pointer;
  accent-color: #ff3f6c;
}
.click-button {
  font-size: 15px;
  margin-left: 40px;
  margin-top: 16px;
  color: #3c4658;
}
.total {
  display: flex;
  justify-content: space-between;
}
.discount {
  display: flex;
  justify-content: space-between;
}
.coupon {
  display: flex;
  justify-content: space-between;
}
.fee {
  display: flex;
  justify-content: space-between;
}
