.black img {
  width: 80%;
}
.top h2 {
  color: #4a4a4acf;
}
.shop {
  background-color: rgb(169 220 225);
  border-radius: 8px;
  padding: 3px;
  margin-top: 10px;
}
.shop p {
  font-size: 10px;
}
.ayush {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
}
.box {
  width: 232px;
  padding: 5px;
  display: flex;
  background-size: cover;
  background-image: url(https://www.adobe.com/express/create/background/media_1158a87c8706310ece4c5be54bd7168490bb01b2c.jpeg?width=400&format=jpeg&optimize=medium);
}
.and {
  padding-left: 10px;
  flex: 1;
}
.black {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.man {
  font-size: 11px;
  padding: 10px;
}
.keep {
  font-size: 12px;
  font-weight: 600;
  color: #32343d;
}
.larg p {
  margin-top: 4px;
  font-size: 11px;
}
