.black img {
  height: 199px;
  width: 106px;
}
.kumar {
  margin: 115px;
  margin-top: -202px;
}
.kumar img {
  height: 76px;
}
.top h {
  margin-left: 20px;
  color: #4a4a4a;
}
.kumar p {
  margin: 126px;
  margin-top: -134px;
}
.kumar p {
  margin: 126px;
  margin-top: -134px;
}
