.black img {
  width: 100%;
}
.top h2 {
  color: #4a4a4acf;
}
.shop {
  background-color: rgb(169 220 225);
  border-radius: 8px;
  padding: 3px;
}
.shop p {
  font-size: 14px;
}
.ayush {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
}
.box {
  width: 300px;
  padding: 10px;
  display: flex;
  background-image: url(https://www.adobe.com/express/create/background/media_1158a87c8706310ece4c5be54bd7168490bb01b2c.jpeg?width=400&format=jpeg&optimize=medium);
}
.and {
  padding-left: 10px;
  flex: 1;
}
.black {
  display: flex;
}
