.click-button {
  font-size: 14px;
  height: 35px;
  border-color: #ff3f6c;
  border-width: 1px;
  border-style: groove;
  color: #ff3f6c;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
}
.click-button:hover {
  background-color: rgba(255, 169, 169, 0.116);
}
.good {
  padding: 1px 15px;
}
.make {
  display: flex;
  justify-content: space-between;
  border-style: groove;
  border-width: 1px;
  padding-bottom: 20px;
}
.black {
  margin: 18px;
}
.make p {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  color: #3c4658;
}
.container_ayush a {
  text-decoration: none;
  border: none;
  background-color: white;
  color: #ff3f6c;
}
.container_ayush {
  border: none;
}
.mySelect {
  outline: none;
  border: none;
}
.login-input p {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 12px;
  color: #373c44;
  cursor: default;
}
.login-input {
  border-style: groove;
  border-width: 1px;
  padding-bottom: 20px;
  color: #000000a6;
}
.login-input li {
  font-size: 14px;
}
.container_ayush {
  border: none;
  font-size: 14px;
}
.center {
  display: flex;
  font-size: 14px;
  border-width: 1px;
  border-style: groove;
  cursor: default;
  padding-bottom: 20px;
}
.center img {
  height: 23px;
}
.center span {
  color: #3c4658;
  font-weight: bold;
}
.center p {
  color: rgb(109, 108, 108);
}
.box {
  height: 19px;
  width: 32px;
  border-radius: 2px;
  accent-color: #ff3f6c;
}
.chackbox {
  display: flex;
  justify-content: space-between;
  margin-block: 25px;
}
.are {
  display: flex;
}
.are1 {
  display: flex;
}
.price {
  font-size: 15px;
  font-weight: 500;
  color: #535766;
  cursor: pointer;
  margin-right: 25px;
}
.const {
  font-size: 15px;
  font-weight: 500;
  color: #535766;
  cursor: pointer;
}
.and {
  border-width: 1px;
  border-style: groove;
  border-radius: 4px;
  display: flex;
  padding: 12px;
}
.dream {
  font-weight: 700;
  font-size: 14px;
  color: #2b2c30;
  cursor: default;
}
.paper {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}
.paper1 {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}
.paper2 {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}
.sold {
  font-size: 12px;
  color: #94969f;
  cursor: default;
}

.men {
  cursor: pointer;
  height: 19px;
  width: 100px;
  border: none;
  font-weight: bold;
  color: #000000d4;
  cursor: pointer;
}
.work {
  cursor: pointer;
  height: 19px;
  width: 55px;
  border: none;
  font-weight: bold;
  color: #000000d4;
  cursor: pointer;
}
.size {
  display: flex;
}
.set p {
  font-weight: 500;
  font-size: 15px;
}
.land {
  color: #f16565;
  font-size: 15px;
}
.mad {
  color: #94969f;
  font-size: 15px;
}
.chack {
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.795);
  cursor: default;
}
.game {
  display: flex;
  cursor: default;
}
.small {
  display: flex;
}
.small p {
  font-size: 11px;
  color: #535766;
  cursor: default;
}
.return {
  font-size: 13px;
  font-weight: 500;
  color: #000000d9;
  cursor: default;
}

ul li {
  font-size: 45px;
  color: #000000ad;
  display: block;
}
.close {
  cursor: pointer;
  position: absolute;
  padding: 0px 350px;
}
.colose {
  cursor: pointer;
  position: absolute;
}
.live {
  border-radius: 2px;
}
.live img {
  width: 90px;
}
.part {
  position: absolute;
  accent-color: #ff3f6c;
}
.livemis {
  height: 19px;
  width: 35px;
  border-radius: 2px;
  position: relative;
  top: 5px;
  left: 4px;
}
.am {
  border-style: groove;
  border-width: 1px;
}
.goodli {
  padding: 0px 111px;
}
.livemise {
  position: absolute;
  accent-color: #ff3f6c;
}
.livemis img {
  width: 90px;
}
.red {
  text-align: center;
  height: 45px;
  width: 47px;
  border-radius: 28px;
  border-width: 1px;
  cursor: pointer;
  font-weight: bold;
  color: #000000da;
  outline-color: red;
}
.number0 {
  border-width: 1px;
  border-style: groove;
  height: 310px;
  text-align: center;
  width: 341px;
  padding: 20px;
}
.button {
  background-color: #ff3f6c;
  text-align: center;
  color: white;
  font-size: 17px;
  width: 95%;
  border-radius: 2px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #ff3f6cf1;
}
.us img {
  height: 80px;
}
.mad {
  display: inline-flex;
}
.top {
  color: #000000c7;
  font-weight: 600;
}
.number6 {
  border-style: groove;
  border-width: 1px;
}
.number8 {
  text-align: center;
  height: 48px;
  width: 91px;
  border-radius: 28px;
  border-width: 1px;
  cursor: pointer;
  border-color: #ff3f6c;
}
.Onesize {
  font-weight: 700;
  font-size: 16px;
  min-width: 18px;
  text-align: center;
  color: #ff3f6c;
}

.done {
  background-color: #ff3f6c;
  text-align: center;
  color: white;
  font-size: 17px;
  width: 438px;
  border-radius: 2px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.done:hover {
  background-color: #ff3f6cf1;
}
.us {
  border-style: groove;
  border-width: 1px;
  height: 349px;
  width: 440px;
  padding: 30px;
}
.body {
  color: #58595e;
}
.title {
  color: #444758;
  font-weight: 600;
}
.number7 h4 {
  color: #3d3f4b;
}
.seller {
}
.border {
  border-width: 1px;
  border-style: groove;
  width: 265px;
}
.ayush {
  cursor: pointer;
  position: absolute;
}
.offer button {
  height: 40px;
  width: 350px;
  border: none;
  background-color: #fff6f4;
  cursor: pointer;
}
.tag {
  cursor: pointer;
}
.offer p {
  font-size: 15px;
  font-weight: 600;
}
.bag img {
  height: 30px;
  position: absolute;
}
.click2 {
  font-weight: 600;
}
.click6 {
  color: #000000d8;
}
.click {
  border-style: groove;
  border-width: 1px;
  width: 480px;
  overflow: scroll;
}
.border8 {
  border-style: groove;
  border-width: 1px;
  width: 198px;
  height: 170px;
  border-radius: 6px;
}
.border8 img {
  height: 40px;
}
.keys {
  color: #ff7495;
  text-decoration: none;
}
.border18 {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.borderradius {
  border-style: groove;
  border-width: 1px;
}
.number2 {
  border: 1px px solid #ff3f6c;
  color: #ff3f6c;
}
