.red {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.ayush2 img {
  height: 142px;
  width: 128px;
  border-radius: 7%;
  border: 2px solid;
  color: white;
}
.ayush2 {
  margin: 6px;
  margin-top: -210px;
}
.ayush1 {
  margin-top: 40px;
}
.ayush1 img {
  width: 142px;
  height: 174px;
  border-radius: 18px;
  border: 4px solid;
  color: #e9e9e9;
}
.center p {
  text-align: center;
}
.center h2 {
  text-align: center;
}
.kit sup {
  margin: 3px;
  font-size: 12px;
}
.kit p {
  font-size: 21px;
  margin-left: 3px;
}
.kit {
  color: white;
}
.kit p em {
  font-size: 15px;
  margin: 22px;
}
