.us {
  border-style: groove;
  border-width: 1px;
  height: 365px;
  width: 440px;
  padding: 30px;
}
.ayush {
  cursor: pointer;
  position: absolute;
}
.number5 {
  margin-bottom: 12px;
}
.us img {
  height: 80px;
}
.seller1 {
  display: flex;
  margin-bottom: 25px;
}
.dream {
  font-weight: 700;
  font-size: 14px;
  color: #2b2c30;
  cursor: default;
  margin-bottom: 8px;
}
.paper1 {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}
.mad {
  display: inline-flex;
}
.land {
  color: #f16565;
  font-size: 15px;
}
.number6 {
  border-style: groove;
  border-width: 1px;
  margin-bottom: 10px;
}
.top {
  color: #000000c7;
  font-weight: 600;
}
.number7 h4 {
  color: #3d3f4b;
  margin-bottom: 22px;
}
.number8 {
  text-align: center;
  height: 48px;
  width: 91px;
  border-radius: 28px;
  border-width: 1px;
  cursor: pointer;
  border-color: #ff3f6c;
  border-style: solid;
  margin-bottom: 19px;
}
.Onesize {
  font-weight: 700;
  color: #ff3f6c;
  margin-top: 14px;
}
.body {
  color: #58595e;
}
.title {
  color: #444758;
  font-weight: 600;
}
.done {
  background-color: #ff3f6c;
  text-align: center;
  color: white;
  font-size: 17px;
  width: 438px;
  border-radius: 2px;
  height: 40px;
  border: none;
  cursor: pointer;
}
